<article class="w-full xl:w-[90%] text-justify pb-10">
   
    <h2 class="text-start text-[1.4rem] lg:text-[2rem]">Asansörlerde 2. Taraf Denetimler</h2>
    <h3 class="text-start text-[1.1rem] lg:text-[1.8rem]">İşletme, İmalat ve Prefabrikasyon Aşamasında Denetimleri</h3>
    <h5 class="italic font-bold py-5 text-start lg:text-center">
        2. Taraf Denetimleri, detaylı teknik tasarım veya bileşenlerin nihai seçimi için danışmanlık hizmetini kapsamaz.
    </h5>
    <picture class="aspect-video">
        <source media="(max-width: 599px)"
            srcset="https://dekraprod-media.e-spirit.cloud/416969f7-5dae-4948-b0f6-809804143c1e/media/2nd-party-inspection-of-elevators-escalators-and-moving-walks-dekra_600x340.webp">
        <source media="(max-width: 899px)"
            srcset="https://dekraprod-media.e-spirit.cloud/416969f7-5dae-4948-b0f6-809804143c1e/media/2nd-party-inspection-of-elevators-escalators-and-moving-walks-dekra_1920x1080.webp">
        <source media="(min-width: 900px)"
            srcset="https://dekraprod-media.e-spirit.cloud/416969f7-5dae-4948-b0f6-809804143c1e/media/2nd-party-inspection-of-elevators-escalators-and-moving-walks-dekra_1920x1080.webp">
        <img alt="2nd Party Inspections of Elevators, Escalators and Moving"
            title="2nd Party Inspections of Elevators, Escalators and Moving" loading="lazy"
            src="https://dekraprod-media.e-spirit.cloud/416969f7-5dae-4948-b0f6-809804143c1e/media/2nd-party-inspection-of-elevators-escalators-and-moving-walks-dekra_600x340.webp"
            class="aspect-video object-cover w-full lg:w-[50%] h-auto lg:float-left lg:mr-4 mt-4 ">
    </picture>
    <p><strong>ARTIDOKSAN</strong>, 2. taraf denetim hizmetlerimizle müşterilerinin iç gerekliliklerini yerine
        getirmelerine veya dışarıdan
        önerilen denetimlerin hızlandırılmasına yardımcı olmaktadır.</p>

    
    <h4>Asansör 2. Taraf Denetimleri Hakkında</h4>
    <hr class="h-px my-4 bg-gray-300 border-0">
    <p>
        <strong>ARTIDOKSAN</strong> yalnızca sertifika ve periyodik muayene hizmetleri için güvenilir ortağınız değil,
        aynı zamanda ek yasal gereklilikler, müşteriye özel dahili
        özellikler ve standartlar ve tesis stoklarına yapılan yatırımların yönetimi için 2. taraf olarak hizmetler ve
        uzmanlık da sunuyoruz. Ayrıca <strong>ARTIDOKSAN</strong>, farklı üretim sahalarında bağımsız tesis muayeneleri
        veya doğrulamalar (örneğin boyutlara, üretim yöntemlerine veya yüzey tasarımına uyum) gibi planlama ve üretim
        konularında da size destek sağlar.
    </p>
    <p>
        Ekiplerimiz asansör, yürüyen merdiven ve yürüyen bantları denetleme konusunda onlarca yıllık belgelenmiş
        deneyime sahiptir. Bu nedenle, aşağıdakiler de dahil olmak üzere 2. taraf olarak çok çeşitli denetim hizmetleri
        sunuyoruz:
    </p>
    <ul class="list-disc pl-10">
        <li>
            Erken aşamada tasarım incelemesi
        </li>
        <li>

            EN 81-80'e göre yolcu ve yük asansörleri için durum değerlendirmesi

        </li>
        <li>
            Üreticiler veya operatörler tarafından belirtilen müşteriye özel kontroller

        </li>
        <li>
            Sigortalar için hasar analizi

        </li>
        <li>
            Teknik ve iş güvenliği için tehlike değerlendirmesi

        </li>
        <li>
            Bireysel acil durum prosedürü kılavuzları

        </li>
        <li>
            Teknik ekipman dahil bina değer tespiti
        </li>
    </ul>
    <h4>Asansörler için 2. Taraf Denetimlerinden Elde Edeceğiniz Faydalar</h4>
    <hr class="h-px my-4 bg-gray-300 border-0 ">
    <ul class="list-disc pl-10">
        <li>Sahada çalışmaya hazır deneyimli mühendisler</li>
        <li>Tek bir kaynaktan kapsamlı ve yetkin destek</li>
        <li>Tüm standartları ve yasal gereklilikleri açıkça karşılamaktadır</li>
    </ul>
</article>