<article class="w-full xl:w-[90%] text-justify pb-10">
   
    <h2 class="text-start text-[1.4rem] lg:text-[2rem]">Asansörler İçin Periyodik Olmayan Muayeneler</h2>
    <picture class="aspect-video">
        <source media="(max-width: 599px)"
            srcset="https://dekraprod-media.e-spirit.cloud/416969f7-5dae-4948-b0f6-809804143c1e/media/non-periodic-inspections-for-elevators-escalators-and-moving-walks-dekra_600x340.webp">
        <source media="(max-width: 899px)"
            srcset="https://dekraprod-media.e-spirit.cloud/416969f7-5dae-4948-b0f6-809804143c1e/media/non-periodic-inspections-for-elevators-escalators-and-moving-walks-dekra_1920x1080.webp">
        <source media="(min-width: 900px)"
            srcset="https://dekraprod-media.e-spirit.cloud/416969f7-5dae-4948-b0f6-809804143c1e/media/non-periodic-inspections-for-elevators-escalators-and-moving-walks-dekra_1920x1080.webp">
        <img alt="Non-Periodical Inspections of Elevators, Escalators and Moving Walks"
            title="Non-Periodical Inspections of Elevators, Escalators and Moving Walks" loading="lazy"
            src="https://dekraprod-media.e-spirit.cloud/416969f7-5dae-4948-b0f6-809804143c1e/media/non-periodic-inspections-for-elevators-escalators-and-moving-walks-dekra_600x340.webp"
            class="aspect-video object-cover w-full lg:w-[50%] h-full lg:mr-4  mt-4  lg:float-left" >
    </picture>

    <p><strong>ARTIDOKSAN</strong>, asansörler, yürüyen merdivenler ve yürüyen yollar için geniş bir yelpazede periyodik
        olmayan denetimler sağlar. Ulusal mevzuatların asansörler, yürüyen merdivenler ve yürüyen yollar için zorunlu
        denetimlerin onaylı bir denetim kuruluşu veya özel olarak kalifiye bir uzman tarafından yapılmasını gerektirdiği
        çok sayıda durum vardır. <strong>ARTIDOKSAN</strong>, dünyanın farklı ülkelerinde bu tür çalışmaları yürütmek
        üzere denetim kuruluşu olarak yetkilendirilmiştir.</p>

    <h4>Periyodik Olmayan Muayeneler Hakkında</h4>
    <p><strong>ARTIDOKSAN</strong>, Avrupa Asansör Direktifi kapsamındaki (1997'den önce kurulmuş olsalar bile)
        aşağıdaki asansör tiplerine yönelik muayene hizmeti sunmaktadır:</p>
    <ul class="list-disc pl-10">
        <li>Yolcu asansörleri</li>
        <li>Kişiler ve mallar için yük asansörleri</li>
        <li>0,15 m/s'den daha yüksek hıza sahip araç ve sedye asansörleri</li>
    </ul>
    <p><strong>ARTIDOKSAN</strong>, Avrupa Makine Direktifi kapsamında tanımlanan aşağıdaki sabit asansörler için
        muayene hizmetleri sunmaktadır:</p>
    <ul class="list-disc pl-10">
        <li>Yavaş yolcu asansörleri (maksimum hız 0,15 m/s)</li>
        <li>Özel gereksinimli kişiler için farklı kat seviyelerini birbirine bağlayan asansörler</li>
        <li>Yavaş hidrolik tahrikli veya makaslı kaldırmalı yolculu yük asansörleri</li>
        <li>Yel değirmenlerindeki asansörler</li>
        <li>Yolcu taşımacılığında kullanılan inşaat asansörleri, mast tırmanma platformları için</li>
        <li>Yemek asansörleri</li>
        <li>Çöp konteyneri asansörleri ve zemin altı asansörleri</li>
    </ul>
    <p><strong>ARTIDOKSAN</strong> ayrıca paternoster gibi eski asansör sistemleri için de denetim hizmetleri
        sunmaktadır (yeni kurulumlar ve ilk denetim için izin verilmez):</p>
    <p>
        Asansörler, yürüyen merdivenler ve yürüyen yollar için <strong>ARTIDOKSAN</strong>'nın periyodik olmayan
        denetimi aşağıdaki bireysel hizmetleri içerir:</p>
    <ul class="list-disc pl-10">
        <li>Makine Direktifine göre asansörler için tasarım incelemesi de dahil olmak üzere İlk Muayene</li>
        <li>Asansörün Asansör Yönetmeliğine uygun olarak montajı ve hizmete alınmasından sonra ulusal mevzuata göre ilk
            muayene</li>
        <li>Ulusal düzenlemelere veya sigortalara uygun olarak kaza veya hasar sonrası muayene</li>
        <li>Inspection after a safety related modification, including a design review for lifts according to the
            Machinery Directive</li>
    </ul>

    <p>Bazı ülkelerdeki bazı asansör tipleri için muayene, onaylı bir kuruluşla ilişkili olmayan yetkili bir uzman
        tarafından da yapılabilir. Türkiye'de bunlar, Avrupa Makine Direktifine uygun tüm mobil asansörler, yük
        asansörleri ve sabit asansörler ve yürüyen merdivenler ve yürüyen yollar gibi üç metreyi aşmayan düşme riski
        olan asansörlerdir.</p>
    <p>
        Makine ve ekipman muayene hizmetlerimiz kapsamında <strong>ARTIDOKSAN</strong>, mobil çalışma platformları,
        depolama veya geri alma
        sistemleri, kişilerin kaldırılması ve ayrıca geçici insan kaldırma cihazları ve vinçlerdeki asansörler için
        muayeneler de sunmaktadır.
    </p>

</article>