<article class="w-full xl:w-[90%] text-justify pb-10">
    <div class="flex items-center justify-between mb-5">
        <div class="w-full pr-2">
            <img src="/assets/urun/lift1.webp" class="w-full h-[250px] object-cover rounded-[1.2rem] shadow-sm" alt="">
        </div>
        {{!-- <div class="flex-1 flex flex-col justify-end items-end">
            <img src="/assets/urun/ce.webp" class="w-[10rem] h- auto" alt="">
            <h3>2014/33/EU</h3>
        </div> --}}
    </div>
    <h2 class="text-[1.8rem] lg:text-[2.4rem]">Asansör Yönetmeliği</h2>
    <div class="inline-block float-left">
        <img src="/assets/urun/ce.webp" class="w-[150px] lg:w-[250px] h-auto  p-4" alt="">
        <h3 class="text-center text-[1rem] lg:text-[2.4rem]">2014/33/EU</h3>
    </div>
    <p class="">


        Bu yönetmeliğin amacı, asansörler ve asansör güvenlik aksamlarının uyması gereken temel sağlık ve güvenlik
        gereklerini, bu ürünlerin piyasaya sunulmasına ilişkin gerekleri ve piyasa gözetimi ve denetimine ilişkin
        esasları belirlemektir.
    </p>
    <p>Asansör Direktifi 2014/33/AB kapsamında sahip olunan yetkileri görüntülemek için aşağıdaki NANDO bağlantısına
        tıklayın.</p>
    <h4>Asansör Ürün Uygunluk Belgesi</h4>
    <p>Asanasör Ürün Uygunluk Belgesi, 2014/33/AB Asansör Yönetmeliği gereğince yapılan bir Ürün Uygunluk
        belgelendirmesi işlemidir. Asansör monte eden tarafından monte edilen asansör üzerine CE işareti
        iliştirilebilmesi için, Avrupa Komisyonu tarafından akreditasyonu onaylanmış kuruluşlarca sertifikalandırma
        işlemi yapilir. 2014/33/AB direktifine göre asansör monte eden farklı modüllerde sertifikasyon talep edebilir.
        Burada kriterler, monte edenin asansör monte etme yetkinliği, yetkin personel kalitesi, kalite yönetim
        sistemleri uygulama yetkinliği, ürüne ait son kontrol test ve deneyleri ne ölçüde gerçekleştirebiliyor
        olduğudur. Onaylanmış kuruluş asansör monte edenin seçtiği modüle göre gereken test ve kontrolleri yaparak
        belgelendirmeyi gerçekleştirir.</p>
</article>