<article class="w-full xl:w-[90%] text-justify pb-10">
    <h3>ISO 10002 Müşteri Memnuniyeti Yönetim Sistemi</h3>
    <p class="">
        <img src="/assets/sistem/iso10002.webp" class="w-[150px] h-[150px] float-left p-4" alt="">
        "Şikayet, bir kuruluşa ürünleri veya şikayetleri değerlendirme süreci hakkında yapılan memnuniyetsizliğin
        ifadesidir ve bu durumda açık veya örtük bir yanıt veya çözüm beklenir." Tanım
        kaynak: ISO 10002:2004 Bir kuruluşun mevcut müşterilerini elinde tutması, yeni müşteriler edinmesinden en az
        dört kat daha olasıdır. Sürekli olarak müşteri kaybeden kuruluşlar, zarar gören itibarlarını onarmak için büyük
        çabalar sarf eder.
    </p>
    <p>Günümüzün rekabetçi ortamında, ürün ve hizmet yenilikleri yerleşik performans seviyelerinin yeniden
        tanımlanmasına yol açıyor. İyi bir Şikayet Yönetim Sistemi, başarılı işletmelerin müşterilerinin ihtiyaçlarını
        yönetmeleri ve markalarını korumaları için temel gereksinimlerden biridir.</p>
    <p>Müşteri Memnuniyeti standardı, ISO 10002: 2004 – Şikayet Yönetim Sistemini uygulamaya yönelik direktif standart,
        kuruluşların müşterilerinin şikayetlerini nasıl başarılı bir şekilde ele alabileceklerini belirlemelerine,
        yönetmelerine ve anlamalarına yardımcı olur.</p>
    <p>Müşteri Memnuniyeti standardı, ISO 10002: 2004 – Şikayet Yönetim Sistemini uygulamaya yönelik direktif standart,
        kuruluşların müşterilerinin şikayetlerini nasıl başarılı bir şekilde ele alabileceklerini belirlemelerine,
        yönetmelerine ve anlamalarına yardımcı olur.

    </p>
    <p>ISO 10002 standardı, kuruluşlarda şikayetlerin ele alınmasıyla ilgili süreçlere değer katma ve müşteri
        memnuniyeti ve sadakati performansını sürekli olarak artırma fırsatı sunar. Standardın temel özellikleri, açık
        ve sorumlu bir Şikayet İşleme sürecine önem veren bir yapı oluşturmak, genel yönetim sistemi prensiplerini
        desteklemek ve yönetim sistemlerinin entegrasyonunu kolaylaştırmak, süreç yaklaşımını temel almak, ölçülebilir
        hedefler koymak ve sürekli iyileştirmeyi sağlayacak
        planlamalar yapmaktır.

    </p>
    <p>Dünya çapında yapılan araştırmalara göre;</p>
    <ul class="list-disc pl-10 mb-3">
        <li>Memnun bir müşteri memnuniyetini ortalama 5 kişiyle paylaşır,</li>
        <li>Memnun olmayan bir müşteri ise memnuniyetsizliğini ortalama 9 kişiye iletir,</li>
        <li>%13'ü memnuniyetsizliğini ortalama 20 kişiye iletir,</li>
        <li>%98'i asla şikayet etmez, sessizce diğer rakiplere yönelir.</li>
    </ul>
    <p>Temel; Müşteri şikayetlerini sistemi iyileştirme fırsatı olarak görmek, müşteri sadakatini ve sadık müşteri
        sayısını artıracak bir araç olarak değerlendirmek gerekir.</p>
    <h4>Kimler dikkate almalı?</h4>
    <p>ISO 10002, standartların ötesinde hizmet vermek isteyen tüm üyelerin ilgisini çeker. Müşteri gösterimlerinin
        geçişi, özel, kamu veya gönüllü sektörler olsun, onun türü ve büyüklüğüki işletme için genel bir gerekliliktir.
    </p>
    <p>Müşteri şikayetleri yönetim sistemimizi yürütme ve belgelemenin birçok yararlılığı vardır:</p>

    <ul class="list-disc pl-10">
        <li>Müşterilerinizi elde tutma</li>
    </ul>
    <p class="mb-3">Yönetim sistemini benimseyerek, müşterilerinizin sadakatini sürdürme yeteneğinizi artırırsınız.</p>
    <ul class="list-disc pl-10">
        <li>Marka itibarı</li>
    </ul>
    <p class="mb-3">Şikayet yönetim sisteminizi uygulamak ve belgelemek, hissedarlarınıza müşterilerinizi memnun etme
        konusunda gerçek bir bağlılığınız olduğunu ve şikayetleri değerlendirmek, analiz etmek ve incelemek için
        halihazırda süreçleriniz olduğunu gösterir.</p>
    <ul class="list-disc pl-10">
        <li>İşlem etkinliği</li>
    </ul>
    <p class="mb-3">Çalışanlarınızı müşterilerle çalışma yeteneklerini geliştirmeye teşvik ederken, şikayetleri çözmek
        için müşteri merkezli bir yaklaşım benimsemenize yardımcı olur</p>
    <ul class="list-disc pl-10">
        <li>Esneklik</li>
    </ul>
    <p class="mb-3">Bu standart ISO 9001:2008 Kalite yönetim sistemiyle uyumludur ve kuruluşunuzun değerine değer
        katmanıza ve etkinliğini artırmanıza yardımcı olur. ISO 10002 – Ek A ayrıca özellikle küçük işletmeler için
        rehberlik sağlar.</p>
    <ul class="list-disc pl-10">
        <li>Sürekli İyileştirme</li>
    </ul>
    <p class="mb-3">Şikayet işleme sürecinizin sürekli olarak gözden geçirilmesi ve analiz edilmesi, şikayetlerin
        çözülmesi ve iyileştirmelerin yapılabileceği yerler için temel oluşturur.</p>
</article>