<article class="w-full xl:w-[90%] text-justify pb-10">
    <h3>ISO 22000 Gıda Güvenliği Yönetim Sistemi</h3>
    <p class="">
        <img src="/assets/sistem/iso22000.webp" class="w-[150px] h-[150px] float-left p-4" alt="">
        ISO 22000 standardı, gıdanın tüketim anında güvenli olduğunu garanti altına almak ve gıda zincirinde yer alan
        bir organizasyonda gıda güvenliğine yönelik tehditleri kontrol edebilme yeteneğini göstermek için gerekli gıda
        güvenliği yönetim sisteminin gereksinimlerini kapsar.
    </p>
    <p>
        Bir organizasyonun gıda güvenliği yönetim sisteminin tasarımı ve uygulanması, özellikle gıda güvenliği
        tehlikeleri, sağlanan ürünler, kullanılan süreçler ve organizasyonun doğası ve ölçeği olmak üzere çeşitli
        faktörlerden etkilenir. Tehlike analizi sırasında, organizasyon ön koşul programları, operasyonel ön koşul
        programları ve HACCP planının birleşimiyle tehlike kontrolünü elde etmek için kullanılan stratejiyi belirler.
    </p>
    <p>Bu standart 3 öğeden oluşmaktadır:</p>
    <ul class="list-disc pl-10 mb-3">
        <li>1- İyi üretim uygulamaları veya ön koşul program gereksinimleri</li>
        <li>2- HACCP ilkeleri</li>
        <li>Yönetim sistem görünümü</li>
    </ul>
    <h4>ISO 22000:2005 Kimler İçin?</h4>
    <p>Ekipman, paketleme, temizlik malzemeleri ve katkı maddeleri üreticileri gibi ilişkili kuruluşlar da dahil olmak
        üzere, "çiftlikten çatala" gıda zincirindeki tüm kuruluşlar için gerçek bir uluslararası standarttır. ISO
        22000:2005 ayrıca gıda güvenliği yönetim sistemini ISO 9001:2015 gibi kalite yönetim sistemleriyle birleştirmek
        isteyen tüm kuruluşlar içindir.</p>
    <h4>ISO 22000 belgesinin faydaları:</h4>
    <ul class="list-disc pl-10 mb-3">
        <li>Gıda mevzuatına ve yasalarına uyumu sağlar.</li>
        <li>Müşteri güveni ve memnuniyeti sağlar.</li>
        <li>Avrupa Birliği içinde ve dışında ticaret kolaylığı sağlar.</li>
        <li>Düzeltici yöntemler yerine önleyici yöntemlerin kullanılması ürün kayıplarını önler. Potansiyel tehlikeler
            ilk etapta tespit edilerek ortadan kaldırılabilir.</li>
        <li>Gıda kaynaklı tehlikelerin ekonomik bir şekilde kontrol altına alınmasını sağlar. Proses kontrolü ile hatalı
            ürün üretme riskini azaltır.</li>
        <li>Güvenli olmayan ürün üretim ve satış riskini azaltır. Gıda zehirlenmesi ve ölüm riskini azaltır.</li>
        <li>Gıda tedarik zincirinde iyi bir dayanak noktası/güven oluşturma sağlar.</li>
    </ul>
</article>