<article class="w-full xl:w-[90%] text-justify pb-10">
    <h3>ISO 27001 Bigi Güvenliği Yönetim Sistemi</h3>
    <p class="">
        <img src="/assets/sistem/iso27001.webp" class="w-[150px] h-[150px] float-left p-4" alt="">
        ISO 27001 Standardının amacı, bir şirket veya kuruluşa Bilgi Güvenliği kavramının temel prensiplerini
        sağlayarak, bilgi güvenliği yönetim sistemini kurmak ve dokümante etmektir.
    </p>
    <h4>Bilgi nedir?</h4>
    <p>Bilgi, bir kurum veya kuruluşun faaliyetlerini yürütmek için kullandığı verilerin anlamıdır. Bilgi, bir kurumun
        devamlılığını ve varlığını sağlayan tek faktördür ve güvenliği sağlanmalıdır.</p>
    <p>Bilgi Türleri aşağıdaki gibidir</p>
    <ul class="list-disc pl-10 mb-3">
        <li>Kağıda basılmış</li>
        <li>Elektronik olarak saklanmış</li>
        <li>Elektronik ortama gönderilmiş veya aktarılmış</li>
        <li>Kurumsal videolarda gösterilmiş</li>
        <li>Görüşmeler sırasında sözlü olarak iletilmiş</li>
    </ul>
    <h4>Bilgi Güvenliği Nedir?</h4>
    <p>Bilgi Güvenliği ise hayati önem taşıyan bilgilerin korunması, bütünlüğünün sağlanması, erişilebilir ve
        kullanılabilir olmasının sağlanması için alınan gerekli ve önemli tedbirler ve önlemlerdir.</p>
    <p>Bilgi Güvenliği kavramının temel prensiplerini C-I-A kısaltmasıyla kısaca şöyle belirtebiliriz:</p>
    <ul class="list-disc pl-10 mb-3">
        <li>Gizliliğin korunması (Bilgilere yalnızca yetkili kişilerin erişebilmesinin sağlanması),</li>
        <li>Bütünlük (Bilgilerin ve bilgi işleme yöntemlerinin, doğruluğunun ve eksiksizliğinin korunması), </li>
        <li>Kullanılabilirlik (Yetkili personelin gerektiğinde bilgilere ve ilgili varlıklara erişebilmesinin
            sağlanması)</li>
    </ul>
    <h4>Bilgi Güvenliği Yönetim Sistemi Nedir?</h4>
    <p>Bilgi Güvenliği Yönetim Sistemi ise, personelin bilgi güvenliğine ilişkin önlemleri ve tedbirleri sistematik bir
        şekilde alması, bilgi güvenliğine ilişkin çalışmaları daha etkin ve kurallara uygun hale getirmesi ve
        sürekliliğini sağlaması için kaynakların kullanıldığı bir yönetim sistemi biçimidir. Bilgi Güvenliği Yönetim
        Sisteminin uluslararası alanda en üst standardı ISO 27001 Bilgi Güvenliği Yönetim Sistemi standardıdır.</p>
    <h4>ISO 27001 KURULUM AŞAMALARI</h4>
    <ul class="list-disc pl-10 mb-3">
        <li>Bilgi varlıklarının sınıflandırılması, kategorilendirilmesi, sistem kritikliğinin belirlenmesi.</li>
        <li>Varlıkların gizlilik, bütünlük ve erişilebilirlik kriterlerine göre değerlendirilmesi</li>
        <li>Risk yaklaşımı için bir çerçeve sunulması</li>
        <li>Risk analizi raporunun hazırlanması</li>
        <li>Risklerin derecelendirilmesi</li>
        <li>Üst düzey yönetime risklerin sunulması için çerçevenin oluşturulması</li>
        <li>Risk analizi raporu değerlendirmelerine göre risk işleme planının hazırlanması Üst düzey yönetimin</li>
        <li>Risk tedavi planına uygulanacak kontrolleri belirleme</li>
        <li>Dokümantasyon oluşturma</li>
        <li>Kontrolleri yapılandırma</li>
        <li>Dahili denetim</li>
        <li>Kayıt tutma</li>
        <li>Yönetim incelemesi</li>
    </ul>
</article>