<article class="w-full xl:w-[90%] text-justify pb-10">
    <h3>ISO 45001 İş Sağlıgı ve Güvenliği Yönetim Sistemi</h3>
    <p class="">
        <img src="/assets/sistem/iso45001.webp" class="w-[150px] h-[150px] float-left p-4" alt="">
        Örgütlerde karşılaşılan en önemli sorunlardan biri çalışanların güvenli ve sağlıklı bir çalışma ortamına sahip
        olmamalarıdır. Örgütlerin daha iyi rekabet koşullarına ulaşabilmeleri için çalışanlarının iş sağlığı ve
        güvenliği konusunda planlı ve sistemli çalışmalar yapmaları gerekmektedir. ISO 9001 ve ISO 14001 gibi
        standartların kalite ve çevre yönetim sistemlerine odaklanması ve iş sağlığı ve güvenliğini sağlamada yetersiz
        kalması nedeniyle ISO 45001 standardına ihtiyaç duyulmuştur.
    </p>
    <p>An effective Occupational Health and Safety Management System will help you protect your most valuable asset,
        your employees, and enable you to achieve business excellence. ISO 45001 will provide you with the following
        benefits;</p>
    <ul class="list-disc pl-10 mb-3">
        <li>Proaktif risk önleme ve OH&S performansının sürekli iyileştirilmesi yoluyla kurumsal dayanıklılığın
            artırılması</li>
        <li>Yasal ve düzenleyici uyumluluğun güçlendirilmesi • Güvenli, sağlıklı ve sürdürülebilir çalışmaya olan
            bağlılığınızı göstererek sosyal sorumluluk bilincinizin kanıtlanması</li>
        <li>Çalışanlarınız için daha iyi bir çalışma ortamı yaratılması ve iş kazalarının en aza indirilmesi</li>
        <li>Kurumsal itibarınızın markalaştırılması ve korunması</li>
    </ul>
    <h4>ISO 45001 kuruluşunuz için neden önemlidir?</h4>
    <p>ISO 45001, iş kazalarının ve meslek hastalıklarının önlenmesi, güvenli ve sağlıklı çalışma ortamlarının
        ısıtılması için tasarlanmıştır. Uluslararası faaliyet gösteren veya ticaret yapan kuruluşlar için, bakanlık,
        politik, ekonomik, ticari ve sosyal sınırlar aşan tek bir uluslararası standartla çalışmayı kolaylaştırabilir.
    </p>
    <h4>ISO 45001 standardı kimler için uygundur?</h4>
    <p>ISO 45001 iş sağlığı ve güvenliği yönetimi standardı aşağıdaki kuruluşlar tarafından uygulanabilir;</p>
    <ul class="list-disc pl-10 mb-3">
        <li>Büyük kuruluşlar</li>
        <li>Küçük ve orta ölçekli işletmeler</li>
        <li>Kamu kurumları ve kar amacı gütmeyen kuruluşlar</li>
        <li>Sivil toplum kuruluşları</li>
    </ul>
</article>