<header class="bg-white">
  <div class="hidden max-w-[--max-width] text-black mx-auto xl:flex items-center justify-between px-5 py-3">
    <div class="flex items-center space-x-2 ">
      <div class="flex items-center space-x-1">
        <span class="tio text-[1.4rem] w-[22px] h-[22px] overflow-hidden">call</span>
        <span class="text-[1rem]">+90 523 423 2324</span>
      </div>
      <div class="flex items-center space-x-1">
        <span class="tio text-[1.4rem] w-[22px] h-[22px] overflow-hidden">email</span>
        <span class="text-[1rem]">info@artidoksancert.com11</span>
      </div>
    </div>
    <div>
      <div class="flex items-center space-x-1">
        <a href="/belge-sorgu"
          class="px-3 py-1 bg-red-500 hover:bg-red-700 font-[700] duration-300 rounded-md text-white text-[0.9rem] flex items-center">
          <i class="tio text-[1.1rem]  mr-2">search</i>
          Belge Sorgu
        </a>
        <i class="tio text-gray-400 text-[1.8rem]">more_vertical</i>

        <span class="tio text-[1.4rem] mr-1 w-[22px] h-[22px] overflow-hidden">facebook</span>
        <span class="tio text-[1.4rem] mr-1 w-[22px] h-[22px] overflow-hidden">twitter</span>
        <span class="tio text-[1.4rem] mr-1 w-[22px] h-[22px] overflow-hidden">instagram</span>
        <span class="tio text-[1.4rem] mr-1 w-[22px] h-[22px] overflow-hidden">linkedin</span>
          <i class="tio text-gray-400 text-[1.8rem] w-[22px] h-[22px] overflow-hidden">more_vertical</i>

        <div class="flex items-center space-x-1">
          <span class="tio text-[1.4rem] w-[22px] h-[22px] overflow-hidden">poi</span>
          <span class="text-[1rem]">Çukurova/Adana</span>
        </div>
      </div>
    </div>
  </div>
  <nav class="text-black ">
    <div class="mx-auto xl:max-w-[--max-width] flex items-center px-5 py-3">
      <div class="hidden xl:block xl:w-[40%]">
        <ul class="hidden xl:flex   justify-start items-center space-x-4">

          <li class="lg:hidden 2xl:block">
            <a class="font-semibold" href="/">Anasayfa</a>
          </li>
          <li class="">
            <a class="font-semibold" href="/hakkimizda">Kurumsal</a>
          </li>
          <li class="">
            <a class="font-semibold" href="/sistem-belgelendirme">Sistem Belgelendirme</a>
          </li>
          <li class="">
            <a class="font-semibold" href="/urun-belgelendirme">Ürün Belgelendirme</a>
          </li>
        </ul>
      </div>
      <div class="w-full flex-1 flex items-center justify-center z-[100]">

        <a href="/" title="TUV Turkey" target="_self"
          class="inline-flex h-[50px] md:h-[75px] xl:h-[50px]   xl:translate-y-[-50%] w-auto mx-auto  items-center justify-center ">
          <img src="/assets/logo.webp" width="300" height="100" class="w-full h-full  xl:h-[100px]"
            alt="Betciks Logo" />
        </a>
        <div class="xl:hidden  flex-1"></div>
        <div class="xl:hidden flex justify-start items-center pr-2">
          <i class="tio text-[2rem] md:text-[2.4rem] tiopen">menu_hamburger</i>
        </div>
      </div>
      <div class="hidden xl:block xl:w-[40%]">
        <ul class="flex   justify-end items-center space-x-4">
          <li class="">
            <a class="font-semibold" href="/asansor/ce">Asansör CE</a>
          </li>
          <li class="">
            <a class="font-semibold" href="/asansor/2-taraf-denetim">2.Taraf Denetim</a>
          </li>
          <li class="">
            <a class="font-semibold" href="/asansor/periyodik-olmayan-denetim">Periyodik Olmayan Denetim</a>
          </li>
          <li class="lg:hidden 2xl:block">
            <a class="font-semibold" href="/iletisim">İletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="sidemenu fixed top-0 left-[100%] w-[75vw] h-full bg-gray-900 p-4 z-[100]">
    <div class="flex items-center justify-between">
      <div class="">
        <i class="tio text-[1.6rem] tioclose">menu_hamburger</i>
      </div>
      <a href="/" title="TUV Turkey" target="_self" class="inline-flex h-[50px] w-auto">
        <img src="/assets/logo.webp" width="300" height="100" class="w-full h-full" alt="Artıdoksan Logo" />
      </a>
    </div>
    <ul class="space-y-3 py-5 pl-4">
      <li class="">
        <a class="font-bold" href="/">Anasayfa</a>
      </li>
      <li class="">
        <a class="font-bold" href="/hakkimizda">Kurumsal</a>
      </li>
      <li class="">
        <a class="font-bold" href="/sistem-belgelendirme">Sistem Belgelendirme</a>
      </li>
      <li class="">
        <a class="font-bold" href="/urun-belgelendirme">Ürün Belgelendirme</a>
      </li>
      <li class="">
        <a class="font-bold" href="/asansor/ce">Asansör CE</a>
      </li>
      <li class="">
        <a class="font-bold" href="/asansor/2-taraf-denetim">2.Taraf Denetim</a>
      </li>
      <li class="">
        <a class="font-bold" href="/asansor/periyodik-olmayan-denetim">Periyodik Olmayan Denetim</a>
      </li>
      <li class="">
        <a class="font-bold" href="/iletisim">İletişim</a>
      </li>

    </ul>
  </div>
</header>